.user-list-item-container {
  display: flex;
  flex-direction: row;
}
.user-list-text {
  min-width: 8vw;
  margin-top: 0px;
  margin-bottom: 20px;
  padding: 10px;
  overflow: hidden;
  margin-right: 15px;
  font-family: 'Roboto';
}
.id-width {
  min-width: 3vw;
}
.first-name-width {
  max-width: 10vw;
  min-width: 10vw;
}
.last-name-width {
  max-width: 10vw;
  min-width: 10vw;
}
.email-width {
  max-width: 15vw;
  min-width: 15vw;
}
.edit-button {
  padding: 10px;
  max-width: 5vw;
  max-height: 4vh;
  margin-right: 25px;
  border: none;
  border-radius: 5px;
  text-align: center;
  background-color: green;
  color: white;
  font-family: 'Roboto';
}
.delete-button {
  background-color: red;
}
